* {
  margin: 0;
}

body {
  background-color: #ddd;
}

header {
  background-color:   #333;
  height: 100px;
  
}

header h1 {
  color: #f2f2f2;
  text-align: center;
  padding: 15px 10px;
}

header p {
  color: #f2f2f2;
  text-align: center;
}

.content, footer {
  background-color: #ddd;
  padding: 20px;
    
}

#testPng1{
	display: block;
	margin: auto;
}

button, [type="button"] {
  background-color: #008CBA; 
  border: 2px solid #008CBA;
  color: black; 
  padding: 16px 32px;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  display: block;
	margin: auto;
}

button:hover, [type="button"]:hover {
  background-color: white;
  color: black;
}

#body{
	display: none;
}

form div {
	border: 2px solid #ccc;
  border-radius: 10px;
  margin: 5px;
  padding:10px;
}

footer {
  text-align: center;
}


